@charset "utf-8";
#LoginWithAjax { margin-bottom:10px; position:relative; font-size:1em; }
#LoginWithAjax td { padding-top:1px; vertical-align:top; background-color:none; /* padding-top:7px; */}

/*Logged out CSS*/
#LoginWithAjax .password_label, #LoginWithAjax .username_label { padding-right:10px; vertical-align:middle; }
#LoginWithAjax_Password input, #LoginWithAjax_Username input { width:97%; }

#LoginWithAjax_Loading { position:absolute; width:100%; height:100%; background:#FFFFFF url(loading.gif) 50% 50% no-repeat; left:0px; top:0px; opacity:0.8; filter:alpha(opacity=80)}

#LoginWithAjax_Status.invalid, #LoginWithAjax_Status.confirm { text-align:left; display:block; padding:3px; margin-bottom:8px; }
#LoginWithAjax_Status.invalid { color:#990000; background:#F0D9D9; border:1px solid #E0B4B4; }
#LoginWithAjax_Status.confirm { color:#009900; background:#D8FFB0; border:1px solid #AAFF71; }

/*Logged In CSS*/
#LoginWithAjax_Avatar { width:60px; padding-right:10px; }

/*Forgotten password*/
#LoginWithAjax_Remember { margin-top:10px; display:none; }
#LoginWithAjax_Remember p { padding: 0px 0px 3px 0px }
#LoginWithAjax_Remember .forgot-pass-email input { width:97%; padding:2px; color:#666; }

/*Registration*/
#LoginWithAjax #LoginWithAjax_Register { margin-top:10px; display:none; }
#LoginWithAjax_Register_Status.invalid, #LoginWithAjax_Register_Status.confirm { text-align:left; display:block; padding:3px; margin-bottom:8px; }
#LoginWithAjax_Register_Status.invalid { color:#990000; background:#F0D9D9; border:1px solid #E0B4B4; }
#LoginWithAjax_Register_Status.confirm { color:#009900; background:#D8FFB0; border:1px solid #AAFF71; }
#LoginWithAjax_Register input[type=text] { width:97%; padding:2px; color:#666; }

/*Default Template*/
#LoginWithAjax_Register.default { background-color:#fff; color:#333; display:none; width:350px; padding:15px; text-align:left;  border:2px solid #333; opacity:0.8; -moz-border-radius:6px; -webkit-border-radius:6px; -moz-box-shadow: 0 0 50px #ccc; -webkit-box-shadow: 0 0 50px #ccc; }
#LoginWithAjax_Register.default h4 { font-size:16px; margin:0px; padding:0px; }
#LoginWithAjax_Register form { overflow:auto; height:400px; }
#LoginWithAjax_Register.default .close { background:url(close.png) 0px 0px no-repeat  !important; position:absolute; right:-15px; top:-15px; cursor:pointer; height:35px; width:35px; border:none; padding:0px; margin:0px; }
#LoginWithAjax_Register.default #wp-submit { display:block; clear:both; }

/*ie7-friendly*/
#LoginWithAjax.ie7-friendly div { padding-top:7px; vertical-align:top; background-color:none; }
#LoginWithAjax.ie7-friendly #LoginWithAjax_Register { margin-top:5px; display:none; }
#LoginWithAjax.ie7-friendly #LoginWithAjax_Register p { padding: 0px 0px 3px 0px }

/*inline-registration*/
#LoginWithAjax.inline-registration #LoginWithAjax_Register { margin-top:5px; display:none; }
#LoginWithAjax.inline-registration #LoginWithAjax_Register p { padding: 0px 0px 3px 0px }

/*OpenID specific*/
#LoginWithAjax_Register hr { display:block; }
#LoginWithAjax_Register #openid_identifier { width:auto; }

/*Modal Template*/
#LoginWithAjax_Modal { background-color:#fff; color:#333;  width:350px; padding:15px; text-align:left;  border:2px solid #333; opacity:0.8; -moz-border-radius:6px; -webkit-border-radius:6px; -moz-box-shadow: 0 0 50px #ccc; -webkit-box-shadow: 0 0 50px #ccc; }
#LoginWithAjax_Modal h4 { font-size:16px; margin:0px; padding:0px; }	
#LoginWithAjax_Modal .close { background:url(default/close.png) 0px 0px no-repeat  !important; position:absolute; right:-15px; top:-15px; cursor:pointer; height:35px; width:35px; border:none; padding:0px; margin:0px; }
#LoginWithAjax_Modal #wp-submit { display:block; clear:both; }
