.miniColors-trigger {
    height: 22px;
    width: 22px;
    background: url(images/trigger.png) center no-repeat;
    vertical-align: middle;
    margin: 0 2px;
    display: inline-block;
    outline: none;
}

.miniColors-selector {
    position: absolute;
    width: 175px;
    height: 150px;
    background: white;
    border: solid 1px #BBB;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    z-index: 999999;
}

.miniColors-selector.black {
    background: black;
    border-color: black;
}

.miniColors-colors {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 150px;
    height: 150px;
    background: url(images/colors.png) right no-repeat;
    cursor: crosshair;
}

.miniColors-hues {
    position: absolute;
    top: 5px;
    left: 160px;
    width: 20px;
    height: 150px;
    background: url(images/colors.png) left no-repeat;
    cursor: crosshair;
}

.miniColors-colorPicker {
    position: absolute;
    width: 9px;
    height: 9px;
    border: 1px solid black;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
}
.miniColors-colorPicker-inner {
    position: absolute;
    top: 0;
    left: 0; 
    width: 7px;
    height: 7px;
    border: 1px solid white;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
}

.miniColors-huePicker {
    position: absolute;
    left: -3px;
    width: 24px;
    height: 1px;
    border: 1px solid black;
    background: white;
}