.right-link-widget ul.menu, 
.right-link-widget ul.menu li,
.right-link-widget ul.menu >li > a{
	float:none;
	padding: 0;
	margin: 0;
	border: 0;
	width: auto;
} /* reset all style to default */

.right-link-widget{
	overflow: hidden;
	clear:both;
	display: block;
}

.right-link-widget ul.menu{
	display: block;
	float: left; 
	list-style-type: none; 
	width: 100%; 
}

.right-link-widget ul.menu li{
	display: block;
	float: left;
	width: 90%;
	padding: 3px 0;
	margin: 3px 0;
	border: 1px solid #ccc;
	border-radius: 20px;
	text-align: center;
}

.right-link-widget ul.menu >li > a{
	display: inline;
	color: #21759b;
}

.right-link-widget ul.menu >li > a:hover{color: #E47911;}