@import "jquery.tipsy.css";
.tipsy{font-family:Arial,Sans-serif;font-weight:bold;}
.tipsy-social-icon-container{width:100%;float:left; margin-top: 20px;}
.tipsy-social-icons{display:inline;}.tipsy-social-icons li{float:left;list-style-type:none;margin-right:0.5em;}
.tipsy-social-icons .fade:hover{opacity:0.5;}
.tipsy-social-icons .no-fade:hover{opacity:1.0;}
