/* global styles */
#content ul {
	padding-left: 20px;
	margin: 0.2em 0em 0.2em 0em;
}

#content h4 {
	margin: 2em 0em 0.5em 0em;
}

.entry-title {
	margin-bottom: 0.5em;
	font-size: 1.4em;
}

#primary li {
	margin-bottom: 0.5em;
}
#content li {
	margin-bottom: 0.5em;
}

.entry-header {
	margin-bottom: 1em;
}

.floatright {
	float:right;
}

.entry-summary {
	margin-bottom: 1em;
}

/* global footer style */
#footer-contact {
	color:#ffffff;
	margin-top: 1em;
}

.entry-content {
	text-align:justify;
}

#site-footer {
	margin-top:10px;
}

/* plugin styles */

/* Article view styles */
.abstract-header-article-line { 
	margin:0px; 
	font-weight:bold;
	line-height:1.2em;
}
.abstract-content { 
	line-height:1.2em; 
	text-align:justify;
}

.author-article-line {
	margin-bottom: 1.2em;
}

.author-article-word {
	font-weight: bold;
}

.date-received-article-line {
	font-style:italic; 
	font-size:0.95em;
	margin-bottom:2em;
}

.article-keywords {
	margin-top:1.4em;
}

.full-text-link {
	margin-top: 2.5em;
	margin-bottom: 1.5em;
}

.notetousers {
	margin-top: 1em;
}

.nav-next {
	text-align:right;
	float:right;
}

.nav-single {
	margin-top: 1em;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Year category view ( ex: Year 2003 - Issue 1 - Issue 2 ... ) */
.year-category-view-footer {
	margin-top: 1.2em;
}

.info-article-lines {
	line-height:1.2em;
}

.issue-cover {
	width:33%;
	float:left;
}

.year-issues-wrapper {
	margin-top:2em;
}
#year-nav-div-wrapper {
	margin-bottom:0.5em;
}

#prev-year-link {
	float: left;
}
#next-year-link {
	float: right;
}

/* Issue category view ( ex: Issue 1 - commentary - food ... ) */
.Issue-info {
	font-size: 1em;
	margin-top: 0.25em;
	font-weight: bold;
}

.Issue-section-anchors {font-size:20px}
.Issue-section-header {
	margin: 10px 0px;
	padding: 3px;
	border-top-style:2px solid black;
	border-bottom-style:2px solid black;
}

.issue-arti-entry-header { margin: 16px 0px; margin-bottom: 3px; display:block; }
.issue-arti-entry-header h1 { font-weight:normal; font-size:110%}
.archive-meta { line-height:1.2em; clear:both; padding-top: 30px; padding-right: 20px;}

.issue-header-wrapper {
	clear: both;
	margin-bottom:1.4em;
}

#issue-below-left-side-display {
	float: left;
}
#issue-below-right-side-display {
	float: right;
}

#issue-nav-div-wrapper {
	margin-bottom:0.5em;
}

#prev-issue-link {
	float: left;
}
#next-issue-link {
	float: right;
}

.news-and-info-link {
	margin-top:0.2em;
}

.journal-content-link {
	
}

/* Home page - Index view */
.right-button {
	text-align: center;
	/* margin-top: 0.1em; */
	margin-right: 10px;
	margin-bottom: 0.5em;
	/*border: 2px blue solid;*/
	padding: 3px;
	border:1px solid #ccc;
	border-radius:25px;
	-moz-border-radius:25px; /* Old Firefox */
	clear: both;
}

.issue-article-wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
}


.marque-title {
	font-style:normal;
	text-overflow: ellipsis;
	margin-bottom:1em;
}


/* indexing/citation page */
.indexing-page li {
	margin: 0.5em 0em;
}

/* manuscript preparation page */
#manuscript-preparation-page h4 {
	margin-top:1em;
}

/* sitemap page */
#sitemap-wrapper .sitemap-sublink {
	margin:0px;
	
}

#sitemap-wrapper {
	font-size:12px;
}

/* books single */
#book-detail-wrap {
	font-size:11px;
}

/* announcement and notification category view and single view */
.listed-item-entry-header {
	margin-bottom:0.3em;
	/* font-size:1.1em; */
}
.listed-item-entry-title {
	
}

/* wp_marquee widget styles */
.widget_marquee {
	margin-top:3em;
}

/* contact us page styles */
#contact_us_table {
	vertical-align:top;
	border: 0px;
}

#contact_us_table tbody, tr, td{
	vertical-align:top;
	border: 0px;
}