/*
Theme Name: Wfl Theme
Author: the WFL team
Description: The 2012 theme for WordPress is a fully responsive theme that looks great on any device. Features include a front page template with its own widgets, an optional display font, styling for post formats on both index and single views, and an optional no-sidebar page template. Make it yours with a custom menu, header image, and background.
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, gray, white, one-column, two-columns, right-sidebar, flexible-width, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
Text Domain: wfl_theme

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/* =Notes
--------------------------------------------------------------
This stylesheet uses rem values with a pixel fallback. The rem
values (and line heights) are calculated using two variables:

$rembase:     14;
$line-height: 24;

---------- Examples

* Use a pixel value with a rem fallback for font-size, padding, margins, etc.
	padding: 5px 0;
	padding: 0.357142857rem 0; (5 / $rembase)

* Set a font-size and then set a line-height based on the font-size
	font-size: 16px
	font-size: 1.142857143rem; (16 / $rembase)
	line-height: 1.5; ($line-height / 16)

---------- Vertical spacing

Vertical spacing between most elements should use 24px or 48px
to maintain vertical rhythm:

.my-new-div {
	margin: 24px 0;
	margin: 1.714285714rem 0; ( 24 / $rembase )
}

---------- Further reading

http://snook.ca/archives/html_and_css/font-size-with-rem
http://blog.typekit.com/2011/11/09/type-study-sizing-the-legible-letter/


/* =Reset
-------------------------------------------------------------- */
@import url("./cuong-style.css");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}  
body {
	line-height: 1;
}

blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}
html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
del {
	color: #333;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
small {
	font-size: smaller;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

a {
	outline: none;
	color: #21759b;
	text-decoration:none;
}


/* Small headers */
.archive-title,
.page-title,
.widget-title,
.entry-content th,
.comment-content th {
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
	font-weight: bold;
	text-transform: uppercase;
	color: #636363;
}

/* Shared Post Format styling */
article.format-quote footer.entry-meta,
article.format-link footer.entry-meta,
article.format-status footer.entry-meta {
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
}
/* Responsive images */
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
	max-width: 100%;
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

/* Make sure videos and embeds fit their containers */
embed,
iframe,
object,
video {
	max-width: 100%;
}
.entry-content .twitter-tweet-rendered {
	max-width: 100% !important; /* Override the Twitter embed fixed width */
}

/* Images */

.menu-toggle,
input[type="submit"],
input[type="button"],
input[type="reset"],
article.post-password-required input[type=submit],
li.bypostauthor cite span {
	padding: 5px 6px;
	//padding: 0.4rem 0.6rem;
	font-size: 11px;
	//font-size: 0.785714286rem;
	//line-height: 1.428571429;
	font-weight: normal;
	color: #ffffff;
	background-color: #333333;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #333333, #4a4a4a);
	background-image: -ms-linear-gradient(top, #333333, #4a4a4a);
	background-image: -webkit-linear-gradient(top, #333333, #4a4a4a);
	background-image: -o-linear-gradient(top, #333333, #4a4a4a);
	background-image: linear-gradient(top, #333333, #4a4a4a);
	border: 0px solid #d2d2d2;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
}
.menu-toggle,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	cursor: pointer;
}
button[disabled],
input[disabled] {
    cursor: default;
}
.menu-toggle:hover,
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
article.post-password-required input[type=submit]:hover {
	color: #00ffff;
	background-color: #1b1b1b;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #333333, #000000);
	background-image: -ms-linear-gradient(top, #333333, #000000);
	background-image: -webkit-linear-gradient(top, #333333, #000000);
	background-image: -o-linear-gradient(top, #333333, #000000);
	background-image: linear-gradient(top, #333333, #000000);
}
.menu-toggle:active,
.menu-toggle.toggled-on,
button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
	color: #00ffff;
	background-color: #1b1b1b;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #333333, #000000);
	background-image: -ms-linear-gradient(top, #333333, #000000);
	background-image: -webkit-linear-gradient(top, #333333, #000000);
	background-image: -o-linear-gradient(top, #333333, #000000);
	background-image: linear-gradient(top, #333333, #000000);
	box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;
	border: none;
}
li.bypostauthor cite span {
	color: #fff;
	background-color: #21759b;
	background-image: none;
	border: 1px solid #1f6f93;
	border-radius: 2px;
	box-shadow: none;
	padding: 0;
}



.entry-content img,
.comment-content img,
.widget img,
img.header-image,
.author-avatar img,
img.wp-post-image {
	/* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.wp-caption {
	max-width: 100%; /* Keep wide captions from overflowing their container. */
	padding: 4px;
}
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
	font-style: italic;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	color: #757575;
}
img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.entry-content dl.gallery-item {
	margin: 0;
}
.gallery-item a,
.gallery-caption {
	width: 90%;
}
.gallery-item a {
	display: block;
}
.gallery-caption a {
	display: inline;
}
.gallery-columns-1 .gallery-item a {
	max-width: 100%;
	width: auto;
}
.gallery .gallery-icon img {
	height: auto;
	max-width: 90%;
	padding: 5%;
}
.gallery-columns-1 .gallery-icon img {
	padding: 3%;
}

/* =Print
----------------------------------------------- */

@media print {
	body {
		background: none !important;
		color: #000;
		font-size: 10pt;
	}
	footer a[rel=bookmark]:link:after,
	footer a[rel=bookmark]:visited:after {
		content: " [" attr(href) "] "; /* Show URLs */
	}
	a {
		text-decoration: none;
	}
	.entry-content img,
	.comment-content img,
	.author-avatar img,
	img.wp-post-image {
		border-radius: 0;
		box-shadow: none;
	}
	.site {
		clear: both !important;
		display: block !important;
		float: none !important;
		max-width: 100%;
		min-height: 100%;
		position: relative !important;
	}
	.site-header {
		
		text-align: left;
	}
	.site-header h1 {
		font-size: 21pt;
		line-height: 1;
		text-align: left;
	}
	.site-header h2 {
		color: #000;
		font-size: 10pt;
		text-align: left;
	}
	.site-header h1 a,
	.site-header h2 a {
		color: #000;
	}
	.author-avatar,
	#colophon,
	#respond,
	.commentlist .comment-edit-link,
	.commentlist .reply,
	.entry-header .comments-link,
	.entry-meta .edit-link a,
	.page-link,
	.site-content nav,
	.widget-area,
	img.header-image,
	.main-navigation {
		display: none;
	}
	.wrapper {
		border-top: none;
		box-shadow: none;
	}
	.site-content {
		margin: 0;
		width: auto;
	}
	.singular .entry-header .entry-meta {
		position: static;
	}
	.singular .site-content,
	.singular .entry-header,
	.singular .entry-content,
	.singular footer.entry-meta,
	.singular .comments-title {
		margin: 0;
		width: 100%;
	}
	.entry-header .entry-title,
	.entry-title,
	.singular .entry-title {
		font-size: 21pt;
	}
	footer.entry-meta,
	footer.entry-meta a {
		color: #444;
		font-size: 10pt;
	}
	.author-description {
		float: none;
		width: auto;
	}

	/* Comments */
	.commentlist > li.comment {
		background: none;
		position: relative;
		width: auto;
	}
	.commentlist .avatar {
		height: 39px;
		left: 2.2em;
		top: 2.2em;
		width: 39px;
	}
	.comments-area article header cite,
	.comments-area article header time {
		margin-left: 50px;
		margin-left: 3.57142857rem;
	}
} /* end media print */

/*----------------End--WFL--CSS------------------------*/

/*------------------------ bootstrap css -------------*/
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
/*---------------------End bootstrap css -------------*/

/*----------------CSS CUSTOM-----------------------*/

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Clearing floats */
.clear:after,
.wrapper:after,
.format-status .entry-header:after {
	clear: both;
}
.clear:before,
.clear:after,
.wrapper:before,
.wrapper:after,
.format-status .entry-header:before,
.format-status .entry-header:after {
	display: table;
	content: "";
}

html{font-size: 87%; background-color: #F6F4F0; padding:0;margin:0; border:0; min-height: 100%;}

.wrap-page{min-height: 100%; max-width: 100%;}

body{
	width: 100%;
	max-width: 1350px;
	min-width: 768px;
	min-height: 100%;
	margin: 0 auto;
	padding: 0;
	display: block;
	color: #444;
	background-color: #ffffff;
	font-family: Helvetica,Arial,sans-serif;
	text-rendering: optimizeLegibility;
}
/* keep the page display in full screen height*/

footer{
padding: 0;
margin: 0;
}

.site {
		clear: both !important;
		display: block !important;
		float: none !important;
		max-width: 100%;
		min-height: 100%;
		position: relative !important;
	}

.mainsite{	
	height: 100%;
	word-wrap:normal;
	white-space:normal;
}



a{color: #21759b;}
a:hover{color:#E47911;}


/* 100% = 23% logo + 38%menu /
/* header style sheet here */

.site-header{
	background: url(images/border_header.gif) repeat-x left bottom, url(images/header_bg.gif) top;    
    box-shadow: 0px 1px 30px #888888;
    background-color: #1b1b1b;
}

/* social icon */
#social-icon{display:none;position: relative; right: 30px;}
#social-icon ul{list-style-type: none;}
/* logo */
.logo{
	float: right;
	width: 23%;
}

.logo img{
	width: 100%;  
}

/*search */



#search-box{
	float: right;
	padding: 1% 4% 0 0;
	width: 15%;
	min-width: 160px;
	
}

#search_field{   /* 70+26+ 2*2 */
    
    width:75%;
    min-width: 90px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    text-align: center;
    vertical-align: top;
 
}
#search-submit{
	width: 30px;
    padding: 4px;
    border-radius: 10px 10px 10px 10px;
}


/*main navigation */
.main-navigation{
	float: right;
	padding-top: 7%;
	width: 32%;
	min-width: 400px;
	padding-left: 6%;
	position: relative;
	font-family: Arial;
}



.main-navigation ul.nav-menu{
	list-style-type:none;
	display: inline-block !important;
	text-align: left;
	width: 100%;
	margin:0;
	padding:0;
}



.main-navigation li a,
.main-navigation li {
	display: inline-block;
	text-decoration: none;
}
.main-navigation li a {
	border-bottom: 0;
	text-transform: uppercase;
	white-space: nowrap;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	padding: 7px;
    font-size: small;
    
}

.main-navigation li a:hover {
	color: #00ffff;
	background-color: #111111;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #4C4C4C, #111111);
	background-image: -ms-linear-gradient(top, #4C4C4C, #111111);
	background-image: -webkit-linear-gradient(top, #4C4C4C, #111111);
	background-image: -o-linear-gradient(top, #4C4C4C, #111111);
	background-image: linear-gradient(top, #4C4C4C, #111111);
     
}
.main-navigation li {
	position: relative;
}
.main-navigation li ul {
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 100%;
	z-index: 1000;
}
.main-navigation li ul ul {
	top: 0;
	left: 100%;
}

.main-navigation ul li:hover > ul {
		border-left: 0;
		display: block;
	}
	.main-navigation li ul.sub-menu li.menu-item a {
		border-radius: 3px;
		display: block;
		font-size: small;
		padding: 6px 6px !important;

		border-bottom: 1px solid #199bd8;
		white-space: normal;
  		color: #ffffff;
    	background-color: #333333;
        
	}
	.main-navigation li ul.sub-menu li.menu-item a:hover {
		color: #00ffff;
    	background-color: #1b1b1b;
    	background-repeat: repeat-x;
    	background-image: -moz-linear-gradient(top, #333333, #000000);
    	background-image: -ms-linear-gradient(top, #333333, #000000);
    	background-image: -webkit-linear-gradient(top, #333333, #000000);
    	background-image: -o-linear-gradient(top, #333333, #000000);
    	background-image: linear-gradient(top, #333333, #000000);
	}
	
	.main-navigation .menu-item a
	{
		color: #FFF;
        background-color: #1b1b1b;
    	background-repeat: repeat-x;
    	background-image: -moz-linear-gradient(top, #333333, #000000);
    	background-image: -ms-linear-gradient(top, #333333, #000000);
    	background-image: -webkit-linear-gradient(top, #333333, #000000);
    	background-image: -o-linear-gradient(top, #333333, #000000);
    	background-image: linear-gradient(top, #333333, #000000);
	}
	.main-navigation .current-menu-item > a,
	.main-navigation .current-menu-ancestor > a,
	.main-navigation .current_page_item > a,
	.main-navigation .current_page_ancestor > a {
		color: #00FFFF;
        background-color: #1b1b1b;
    	background-repeat: repeat-x;
    	background-image: -moz-linear-gradient(top, #333333, #000000);
    	background-image: -ms-linear-gradient(top, #333333, #000000);
    	background-image: -webkit-linear-gradient(top, #333333, #000000);
    	background-image: -o-linear-gradient(top, #333333, #000000);
    	background-image: linear-gradient(top, #333333, #000000);
		
	}


/* breadcumbs */
.breadcrumb {
  padding: 15px 0 0 10%;
  list-style: none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.breadcrumb a, .breadcrumb p{display: inline-block;}

.breadcrumb > li {
  display: inline-block;
  *display: inline;
  text-shadow: 0 1px 0 #ffffff;
  *zoom: 1;
}

.breadcrumb > li > .divider {
  padding: 0 5px;
  color: #ccc;
}

.breadcrumb > .active {
  color: #999999;
}

/* main content 100% = 17 + 60 + 4 + 17 + 1 padding + 2px for border */

.left-side, .widget-area-left{
	float: left;
	/*background-color: #b7b7b7; */
	width: 17%;
	margin-top: 20px;
}

.middle, .site-content{
	float: left;
	width: 60%;
	position: relative;
	padding: 0 2%;
	margin-top: 10px;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.right-side{
	float: right;
	/*background-color: #a67c52;*/
	width: 17%;
	padding-left: 1%;
	margin-top: 20px;
}  


#content{
	padding-top: 40px;
	border-top: 1px solid #ccc;
	width: 95%;
	padding-left: 2%;
	padding-right: 2%;
}


/* home page */

#gallery{
	width: 84%;
	margin: 0 auto;
	/* modified in plugin css.  if with != auto ? "" px : 100%; */
}


.header-title{

    border-bottom:2px solid #199bd8;
	color:#444;
	font-size:105%;
	font-weight:bold;
    padding:15px 0 10px 30px;
    
}

.header-title img{
    height:50px;
    float:left;
    width:50px;
}

/* 3 article in index page */
#articles{
	margin: 25px 0;
	width: 90%;
	padding-left: 10%;

}

.article{
	float: left;
	width: 27%;
	padding-left:3%; /* 30 *3 + 3*3 */
	
}
.article:last-child{border-right: none;}


.article-thumbnail {width: 100%; padding-bottom: 5px; }
.article-thumbnail img{width: 80%; height: 150px; border: 1px solid #ccc; border-radius:10px;-moz-border-radius:10px;}

.featured-article-title { width: 100%; padding: 10px 0; border-top: 1px solid #8AB7E6;}
.featured-article-title a{color: #666; font-size: small; word-wrap:none;}
.featured-article-title a:hover{color: #21759B;}

img.wp-post-image {
max-width: 100%;
height: auto;
}

/* end article in index page */


/* content in other pages */

#content table, #content td{border: 1px solid #ccc; padding: 5px;}




/* menu in leftside */

.widget{padding:0; overflow: hidden;}
.widget_nav_menu ul{list-style-type:none; margin:0; padding:0; display: block;}
.widget_nav_menu a{display:block; text-decoration: none; font-size: 100%; font: bold 13px Arial, sans-serif}

.current-menu-item > a, .current-page-parent > a, .current-page-ancestor > a{color: #21759b;}


ul.menu{display: block; float:right; position: relative; width: 100%; min-width: 100px;}

ul.menu >li{
	list-style: none;
	width: 99%;
	display: block; 
	padding:5px 0px;
	cursor: pointer;
	float: left;
}

ul.menu >li >a{
	display:block;
	width:70%;
	float: right;
	min-width: 60px;
	color: #252525;
	padding: 10px 0; 
	padding-left: 8px;
	margin-right: 35px;
	border-bottom: 1px dotted #ccc;
}


ul.menu >li >a:hover{color: #21759b;}

ul.menu >li.current-menu-item >a{
	display: block;
	color: #21759b;
}

/*submenu */


ul.menu li ul{
	clear:both;
	position:relative; 
	width: 74%;
	padding-left: 10px;
	margin-left: 25px;
	min-width: 100px;
	border-left: 1px solid #ccc;
	display: none;
	z-index: 1000;
} 

.menu li ul li a{
	display: block;
	padding: 5px 0px;
	color: #444;
	border-bottom: 1px dotted #ccc;
}

.menu li ul li a:hover{color: #21759b;}


.arrow_plus
{	
	background-color: #000;
  	background: url(images/arrow_plus.gif) no-repeat top right;
  	cursor: pointer;
}

.arrow_minus
{
	background-color: #000;
  	background: url(images/arrow_minus.gif) no-repeat top right;
  	cursor: pointer;
}


/* End of side menu */

/* right widget */


.gridContainer, .widget_loginwithajaxwidget,
.JournalNavigationWidget{width: 95%;}
.JournalNavigationWidget a{display: inline-block; position: relative;  padding: 0 3px; padding-top: 3px; cursor: pointer;}
.gridContainer ,.widget_loginwithajaxwidget,
.JournalNavigationWidget p{font-weight: normal;font-size: small;}
.sg_jquery_scroller_widget_plugin_class{margin-top: 20px;}
.gridContainer ul{list-style-type: none; padding: 0;}
.gridContainer li{list-style:none; padding-bottom: 10px;}
.marque-item {
	display: block; 
	padding: 5px 0;
	width: 90%;
	line-height: 1.1;
	white-space: normal;
}
.marque-content{height: 300px; padding-right: 10px;}
#marquesina_info ul{padding: 0;}

.journal-year-link{padding:5px;}

/* footer */

.footer-wrapper{
	background-color: #1b1b1b;
	margin-top:30px;
	padding: 20px 0;	
}

#contact{clear:both;}

.bottomMenu { 
	
	list-style-type: none;
	display: block;
	text-align: center;
}
ul.bottomMenu { display: inline-block; padding: 0; margin: 0; list-style-type: none; overflow: hidden;}
ul.bottomMenu>li { 
	display: block;
	float: left; 
	width: auto; 
	margin: 0;
	min-width: 40px;
	padding: 0 10px;
	text-align: center;
	background: url(images/border-footer.gif) no-repeat right center;
}
ul.bottomMenu>li:last-child{background-image: none;}

ul.bottomMenu > li>ul { width: auto; list-style-type: none; padding: 0} /* submenu */


.bottomMenu li a {
	color:#00ffff;
	text-decoration:none;
	font-weight:normal;
	padding: 0 7px 0px 0px;
	background: none repeat scroll 0% 0% transparent;
	font-size: small;
}
.bottomMenu li a:hover{color: #fff;}
.bottomMenu ul li ul li > a { color:#fff;}  /* submenu color */
.bottomMenu ul li ul li > a:hover { color:#00ffff; text-decoration:underline;}


/* end footer */

/* single page */
.nav-single{
	margin: 0;
	padding-bottom: 30px;
}

/* category_book page */

.display-book{
	display: block;
	float: left;
	width: 45%;
	min-height:180px; 
	max-height: 220px;
	padding-left: 2%;
	font-size: 85%;
	line-height: 1.1;
	border-right: 0px dotted #ccc;
}


.entry-title-book{
	font-size: 110%;
	padding-bottom: 10px;
}
.book-thumbnail img{float:left; width:95px; height: 145px; padding-right: 5px;}
.book-details{}

#book-notice{
	text-align: justify;
	padding: 10px 20px 0 20px;
	margin-top: 10px;
	border-top: 1px solid #ccc;
}

.book-image-widget{width: 40%; } /*display book image in sidebar bookpage */

.nav-below{clear:both;}
.nav-previous{float: left;}
.nav-next{float:right;}

/* End category_book page */

/* e journal */
.issue-container{width: 100%; padding-top: 20px;}
.issue-cover-float{
	width:25%;
	float:left;
	padding-left: 7%;
}

.issue-image{
	width: 115px;
	height: 150px;
	border: 1px solid #fff;
	border-radius: 5px;
	padding-bottom: 10px;
	float: right; /* for issue view post */
}

.issue-cover .issue-image{float: none;} /*display image for issue year page */


.year-header {
	font-size:1.5em;
	font-weight:600;
}

.journal-year-container {width:100%; border-bottom: 1px solid #ccc; font-size: 15px;}
.journal-year-item {width: 80%; border-top: 1px solid #ccc; margin: 0 auto; padding: 30px;}

.journal-year-item a{width: 8%; display: block; float: left; padding: 10px 5px; }


.impact-factor{float: right; display: inline-block; clear:both; padding-top: 10px; padding-right: 10px;}
/* End of ejournal */

/* contact page */
table#contact-wrap{border: none; padding: 0; width: 100%;}
#contact-wrap td{border: none;}

#contact-form{
	float: left;
	width: 50%;
	border: none;
}
td#contact-info{
	float:right;
	width: 35%;
	padding-left: 20px;
	border-left: 1px solid #ccc;
	text-align: left;
	line-height: 1.1;
}
#contact-map{
	display: block;
	clear:both;
	padding-top: 10px;
}
/* End of contact page */


/* content book page */

#tabcontent
{
	border-top: 2px solid #ccc;
	padding-top: 20px;
	clear: both;
	
}

#descontent p{
	line-height: 1.3;
	
}
/** Begin Product Tabs **/
table.tableAccess select {
	font:11px Verdana,Geneva,sans-serif;
}
/** Begin Product Tabs **/
#tabcontain {
	width: 100%;
	float:left;
	margin:0;
	border-bottom: 1px solid #ccc;
	clear:left;
}
#tabcontain ul.tabs {
	margin:15px 12px 0 12px!important;
	padding:0;
	cursor: pointer;

}
#tabcontain ul.tabs li.tabby1 span,
#tabcontain ul.tabs li.tabby2 span {
	font-size:10px;
	text-align:center;
	display:block;
}
#tabcontain ul.tabs li.tabby1 span {
	color:#fff;
}
#tabcontain ul.tabs li.tabby2 span {
	color:#0c304c;
}
#tabcontain ul.tabs li.tabby1,
#tabcontain ul.tabs li.tabby2 {
	width:auto;
	text-align:center;
	float:left;
	list-style:none;
	margin:0 3px;
	padding:2px 12px;
	background-position:left top, right top;
	background-repeat: no-repeat, no-repeat;
}
#tabcontain ul.tabs li.tabby1 {
	background-color:#1b1b1b;
	-webkit-border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:15px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border:1px solid #0c304c;
	border-bottom:0;
}
#tabcontain ul.tabs li.tabby2 {
	background-color:#eee;
	-webkit-border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:15px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border:1px solid #999;
	border-bottom:0;
}
#tabcontain a {
	color:#3e80b5;
}
#tabcontain ul.tabs li.tabby1 a {
	text-decoration:none !important;
	color:#fff;
}
#tabcontain ul.tabs li.tabby2 a {
	text-decoration:none !important;
	color:#0c304c;
}
#tabcontain ul.tabs li.tabby2 a:hover {
	text-decoration:none !important;
}
#tabcontain ul.tabs li.tabby1 a,
#tabcontain ul.tabs li.tabby2 a {
	padding:0 5px;
}



#pubtabs {
	background-color:#fff;
	-webkit-border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-topright:15px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border:1px solid #ccc;
	border-bottom:0;
	float:left;
	margin:10px 10px 0;
}
#pubtabs .published {
	text-align:center;
	padding:0 10px;
	color:#999;
	position:relative;
	top:-7px
}
#pubtabs .published span {
	padding:0 4px;
	background-color:#fff
}
#pubtabs ul.tabs {
	float:left; 
	margin-top:0!important;
}
#nopubtabs {
	float:left
}
#nopubtabs ul.tabs {
	float:left;
	margin-top:27px!important
}
#nopubtabs ul.tabs li.tabby2 {
	background-color:#fff!important
}
table.tableAccess select {
	font:11px Verdana, Geneva, sans-serif
}
#contentarea {
	background:url(../images/tabs/tab_fade.jpg) top repeat-x; 
	padding:0 25px; 
	clear:both;
}
#contentarea h3 { 
	color:#0e2e55;
	font-size:15px;
	float:left;
	padding:20px 0 6px;
	margin:0;
	line-height:14px
}
#contentarea p { 
	clear:both;
	line-height:16px;
	padding:0 0 12px;
	margin:0
}
div.bookleft #contentarea {
	padding-top:0
}

.book-infomation-widget p{line-height: 1.2; padding: 0;}

/* END New Styles for content book Page */


/* journal page */

.journal-page {width: 100%;}
#journal-slide{float:left; width: 19%; padding-right:5px;}
#journal-slide img{float: left;}
#journal-text{float:left;vertical-align: top; width:75%; padding-top:10px; padding-left: 10px; font-size: 14px;color: #666; line-height: 1.1;}
#journal-nav-left{float: left;clear: both !important; padding-top: 20px;}
#journal-nav-right{float: right; padding-top: 20px;}
/* end journal page */


/*search page */
.search-page .entry-title{margin: 0; font-size: 1.1em;}
.search-page .entry-header{margin:0;}
/* End search page */

/* author, partners, members index list pages */
ul.crumblist,
ul.hlist  {
	margin-left: 0;
	padding-left: 0;
	display: inline;
	border: none;
}
ul.crumblist li,
ul.hlist li {
	margin-left: 0;
	padding: 0 5px;
	border-left: 1px solid #ccc ;
	list-style: none;
	display: inline;
}
ul.crumblist li ul {
	display: inline;
}	

ul.crumblist li:before {
	content: " \00bb  ";
	color:#ccc;
}



.alphalist {
	font-size:80%;
	margin:0 0 1em 0;
	padding:1em 0 1em 0;
	text-align:center;
	border:1px solid #ccc;
	background:#f5f5f5;
}
.div_no_display{ display: none;}
.div_display{ display: show;}
.entry-sub-title{ padding-top: 10px;}

.first_letter{
	padding-bottom: 10px;
	font-size:150%;
	font-weight: bold;
	color: #21759b;
	display: block;
	clear: both;
	margin-top: 1em;
}


.display-column{
	float: left;
	width: 30%;
	padding-left: 3%;
}

.content-by-letter{
	font-size: small;
	font-family: Times New Roman;
	color: #444;
}

.members-text{
	
	font-size: small;
	font-family: Times New Roman;
	color: #444;
}
/* End author, partners, members index list page */


/* rent page */
table.list-renting {
	width: 100%;
	table-layout: inherit;
	position: relative;
	font-size:0.9em;
}

.house-header th{padding: 5px; font-weight: bold;}

#content .house-item td{padding-right: 3px;}
.house-item .image{width: 120px; min-width: 60px; text-align: center;}
.house-item img{width:100%; height: 90px;}
.house-item a{display: inline-block;}


.rent-left-column {
	float:left;
	width:60%;
	padding-left:2%;
	padding-right:2%;
	height:100%;
}
.rent-right-column {
	float:right;
	width:35%;
	height:100%;
	text-align:center;
}
.rent-map {
	position: relative;
	margin-top: 10px;
}
.rent-image {
	width: 100%;
	padding: 0 4px;
	height:150px; 
	margin-top:25px;
}
.rent-title {
	font-size:1.5em;
	margin-top: 25px;
	margin-bottom: 15px;
}

/* End of rent page */

/* isfae page */
#isfae-logo{
	position: absolute;
	top:5px;
	right: 50px;
	width: 120px;
	height: 100px;
	background: url(images/isfae.png) no-repeat right center;
	background-size: 120px;
}




div.div_no_display
{
	display:none;
}


@media only screen and (max-width: 0px){
	.main-navigation{margin-left: 0;}

	#search-box {padding-right: 0;}

	.article{float: none;width: 80%;}

	.widget{padding-left: 0; width: 100%;} /* widget left area */

	/* left side menu */
	.widget_nav_menu ul{margin:0; padding:0; padding-left: 5px; display: block;}
	ul.menu li ul{padding-left: 2px; margin-left: 0px; display: block;}
	ul.menu >li{padding-left: 0px; background-image: none;}
	ul.menu li a{padding-left: 5px; border: none; font-size: small;}
	ul.menu >li >a {width: 100%; padding-right: 0;}
	ul.menu >li ul{border: none; padding: 0; padding-left: 2px; margin: 0; width: 100%; min-width: 0;}
	.menu li ul li a{color: #444;border-bottom: 1px dotted #ccc; font-size: x-small;}

	.display-book{
		float: none;
		width: 100%;
		margin: 0;
		padding: 0;
		border: none;
	}
}

@media only screen and (max-width: 1024px){
	.logo{width: 22%;}
}

@media only screen and (max-width: 862px){
	.logo{width: 21%;}
	.main-navigation{padding-left: 10px;}
	#search-box {padding-right: 5px;}
}
@media only screen and (max-width: 800px){
	.main-navigation{padding-left: 10;}
	.logo{width: 20%;}
	#search-box {padding-right: 0;}
	.widget{padding-left: 0; width: 100%;}
	/*.display-book{
		height: 200px;
		margin: 0;
		padding: 0;
		border: none;
		line-height: 1;
	}*/
	.article{ width: 70%;}
	.display-book{
		float: none;
		width: 80%;
		margin: 0;
		padding: 0;
		border: none;
	}


	.gridContainer, .widget_loginwithajaxwidget,
	.JournalNavigationWidget{width: 100%;}

	.widget_nav_menu ul{margin:0; padding:0; display: block;}
	ul.menu >li >ul{padding-left: 0px; margin-left: 0px; display: block; min-width: 50px;}
	ul.menu >li{margin-left: 0;}
	ul.menu li a{padding-left: 5px; width: 100%;}
	ul.menu >li >a {padding-left: 0; width: 80px;}
}

/* <a href="#" class="scrollup" style="display: inline;">Scroll</a> add scrollup botton to any page you want */
.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url(images/icon_top.png) no-repeat;
}

/* gallery in traineeship page */
div.fancy-gallery .attachment-thumbnail{width: 16%; height: 80px;}
div.fancy-gallery img.hide-thumb{display: none;}
div.fancy-gallery img.show-thumb{display: inline;}

.next-btn{
	width:30px; 
	height:30px; 
	background: url(images/next-btn.png) center; 
	display: inline-block; 
	float:right; 
	cursor: pointer;
}
.prev-btn{
	width:30px; 
	height:30px; 
	background: url(images/prev-btn.png) center; 
	display: inline-block; 
	float:left; 
	cursor: pointer;
}


