.read-more-text { 
	text-align:right; 
	padding-right: 20%;
	padding-top: 5px;
	font-style:italic;
	font-size: x-small;
}


.lastest-posts-cat-wrapper{
	clear:both;
	font-size: small;
	margin-top: 100px;
	background-color: #FAFAFA;
	border: 1px solid #ccc;
	border-radius: 15px;
	padding: 5px 5px 10px 10px;
	
}

.lastest-posts-cat-wrapper a{color: #444}
.lastest-posts-cat-wrapper a:hover{color: #21759B}


.lastest-posts-cat-wrapper p{
	line-height:1.1;
}
.entry-announcement-title {
	margin-bottom:0.7em;/* font-size:x-small; */
}