@font-face {
	font-family: 'backwpup';
	src:url('../fonts/backwpup.eot');
	src:url('../fonts/backwpup.eot?#iefix') format('embedded-opentype'),
	url('../fonts/backwpup.ttf') format('truetype'),
	url('../fonts/backwpup.woff') format('woff'),
	url('../fonts/backwpup.svg#backwpup') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Adminbar icon */
#wp-admin-bar-backwpup .ab-icon {
	font: normal 20px/1 'backwpup' !important;
}
#wp-admin-bar-backwpup .ab-icon:before {
	content: "\e600";
	top: 2px;
}

@media screen and (max-width: 782px) {
	#wp-admin-bar-backwpup .ab-icon {
		font: normal 32px/1 'backwpup' !important;
		display: block;
		text-indent: 0;
		speak: none;
		top: 7px;
		width: 50px;
		text-align: center;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	#wp-admin-bar-backwpup .ab-icon:before {
		top: 0;
	}
}

/* Menu icon */
#adminmenu #toplevel_page_backwpup div.wp-menu-image:before {
	font: normal 20px/1 'backwpup' !important;
	content: "\e600";
}
#backwpup-page-icon,
#backwpup-page-icon:before {
	display: none;
}


/* TipTip CSS - Version 1.3 for all backwpup pages */

#backwpup_tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}
#backwpup_tiptip_holder.tip_top {
	padding-bottom: 5px;
}
#backwpup_tiptip_holder.tip_bottom {
	padding-top: 5px;
}
#backwpup_tiptip_holder.tip_right {
	padding-left: 5px;
}
#backwpup_tiptip_holder.tip_left {
	padding-right: 5px;
}
#backwpup_tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	background-color: rgb(25, 25, 25);
	background-color: rgba(25, 25, 25, 0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}
#backwpup_tiptip_content code {
	background:#1d94cf;
	color:#fff;
	text-shadow:none;
	padding:2px;
	font-size:12px;
}
#backwpup_tiptip_content a{
	color: #0CF;
}
#backwpup_tiptip_content a:hover{
	color: #F93;
}
#backwpup_tiptip_arrow, #backwpup_tiptip_arrow_inner {
	position: absolute;
	border: 6px solid transparent;
	height: 0;
	width: 0;
}
#backwpup_tiptip_holder.tip_top #backwpup_tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255, 255, 255, 0.35);
}
#backwpup_tiptip_holder.tip_bottom #backwpup_tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255, 255, 255, 0.35);
}
#backwpup_tiptip_holder.tip_right #backwpup_tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255, 255, 255, 0.35);
}
#backwpup_tiptip_holder.tip_left #backwpup_tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255, 255, 255, 0.35);
}
#backwpup_tiptip_holder.tip_top #backwpup_tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25, 25, 25);
	border-top-color: rgba(25, 25, 25, 0.92);
}
#backwpup_tiptip_holder.tip_bottom #backwpup_tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25, 25, 25);
	border-bottom-color: rgba(25, 25, 25, 0.92);
}
#backwpup_tiptip_holder.tip_right #backwpup_tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25, 25, 25);
	border-right-color: rgba(25, 25, 25, 0.92);
}
#backwpup_tiptip_holder.tip_left #backwpup_tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25, 25, 25);
	border-left-color: rgba(25, 25, 25, 0.92);
}

/* Webkit Hacks  */
@media screen and ( -webkit-min-device-pixel-ratio:0 ) {
	#backwpup_tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45, 45, 45, 0.88);
	}

	#backwpup_tiptip_holder.tip_bottom #backwpup_tiptip_arrow_inner {
		border-bottom-color: rgba(45, 45, 45, 0.88);
	}

	#backwpup_tiptip_holder.tip_top #backwpup_tiptip_arrow_inner {
		border-top-color: rgba(20, 20, 20, 0.92);
	}
}

/* UI Boxes */
#backwpup-page .backwpup-floated-postbox {
	margin: 25px 0 0;
	max-width: 100%;
	overflow: hidden;
	padding: 15px;
	position: relative;
}
#backwpup-page .backwpup-cleared-postbox {
	clear: both;
	margin: 25px 0 0;
	padding: 10px;
}
#backwpup-page .postbox ul {
	padding-left: 10px;
}
#backwpup-page .postbox table {
	caption-side: top;
	margin-bottom: 25px;
}
#backwpup-page .postbox .hndle {
	cursor: auto;
}
#backwpup-page .postbox table caption {
	color: #222;
	font-weight: 600;
	font-size: 14px;
	padding: 8px 12px;
	margin: 0;
	line-height: 1.4;
	text-align: left;
}
#backwpup-page .wizardbox {
	color: #fff;
	background: #1d94cf url('../images/hgbox.png') no-repeat right bottom;
	min-height: 20em;
}
#backwpup-page .wizardbox:hover {
	background-color: #0f79ae;
}
#backwpup-page .button-bwp,
#backwpup-page .button-primary-bwp {
	border-radius: 0;
	-webkit-box-shadow:	none;
	box-shadow:			none;
}
#backwpup-page .button-primary-bwp {
	border: none;
	background: #38b0eb;
	color: #fff;
	min-width: 8em;
}
#backwpup-page .button-primary-bwp:hover {
	background: #064565;
}
#backwpup-page .wizardbox .wizardbox_name {
	color: #fff;
	margin-top: 0;
}
#backwpup-page .wizardbox .wizardbox_start {
	position: absolute;
	bottom: 10px;
	left: 10px;
}
#backwpup-page .wizardbox select{
	max-width: 100%;
	width: 100%;
}
#backwpup-page .backwpup-table-wrap {
	overflow-x: auto;
}
#backwpup-page .backwpup-banner-img {
	display: block;
	height: auto;
	margin: 26px auto;
	max-width: 100%;
}
#backwpup-page .backwpup-text-center {
	text-align: center;
}
#backwpup-page ul.backwpup-text-center {
	padding-left: 0;
}
#backwpup-page .postbox .backwpup-bullet-list {
	padding-left: 16px;
	list-style: disc;
}
#backwpup-page .postbox ol.backwpup-bullet-list {
	list-style: decimal;
}
#backwpup-page .backwpup-message { /* copied from WP 3.8 CSS */
	margin: 5px 0 15px;
	border: none;
	padding: 1px 12px;
	background-color: #fff;
	border-left: 4px solid #ccc;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	box-shadow:         0px 1px 1px 0px rgba(0,0,0,0.1);
}
#backwpup-page .backwpup-message p {
	margin: 0.5em 0;
	padding: 2px;
}
#backwpup-page .backwpup-info {
	border-left: 4px solid #38b0eb; /* BackWPup button-primary color */
}
#backwpup-page .backwpup-warning {
	border-left: 4px solid #ffba00; /* UI color .update-nag */
}

@media screen and (min-width: 720px) {
	#backwpup-page .backwpup-floated-postbox {
		float: left;
		margin: 25px 25px 25px 0;
		width: 290px;
	}
	#backwpup-page #backwpup-one-click-backup,
	#backwpup-page #wizard-jobimport,
	#backwpup-page #backwpup-thank-you,
	#backwpup-page #backwpup-stats {
		margin-right: 0;
	}
	#backwpup-page #backwpup-one-click-backup + .backwpup-floated-postbox,
	#backwpup-page #backwpup-thank-you,
	#backwpup-page #backwpup-stats {
		clear: left;
	}
}

@media screen and (min-width: 1024px) {
	#backwpup-page .backwpup-floated-postbox {
		width: 362px;
	}
	#backwpup-page .wizardbox {
		width: 225px;
		min-height: 225px;
	}
	#backwpup-page .backwpup-max-width {
		max-width: 800px;
	}
	body[class*="_backwpupabout"] #backwpup-page .backwpup-welcome {
		max-width: none;
	}
}

/* Company specific */
#wpfooter #footer-left,
#wpfooter #footer-right {
	overflow: hidden;
}
#wpfooter .mp_logo {
	background: url('../images/mp_logo_small.png') no-repeat;
	display: block;
	float: left;
	margin-right: 15px;
	line-height: 26px;
	width: 145px;
	text-indent: -9999em;
}
#wpfooter #footer-left .backwpup-get-pro {
	display: block;
	float: left;
	line-height: 36px;
	margin-right: 15px;
}
#wpfooter #footer-upgrade .backwpup-update-footer {
	display: block;
	line-height: 36px;
}
#wpfooter #footer-left #footer-thankyou {
	clear: both;
	display: block;
	padding-top: .5em;

}
#wpbody-content {
	padding-bottom: 10em;
}
#wpfooter {
	overflow: hidden;
}

/* DOKU */
#documentation_content p{
	font-size:14px;
	line-height:20px;
	color:#333;
}
#documentation_content h3{
	padding:7px 0;
	font-size:22px;
}
#documentation_content h4{
	padding:7px 0;
	font-size:18px;
}
#documentation_content img.size-full {
	border:10px #f6f6f6 solid;
}