#adminmenu #toplevel_page_backwpup div.wp-menu-image:before {
	speak: none;
	font-size: 16px !important;
	color: #999;
	padding-top: 6px;
	padding-left: 7px;
	height: 20px;
	width: 20px;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}


#adminmenu #toplevel_page_backwpup.wp-has-current-submenu div.wp-menu-image:before {
	color: #ffffff;
}

#wp-admin-bar-backwpup .ab-icon {
	margin-top: 3px;
}

#wp-admin-bar-backwpup .ab-icon:before {
	top: 0;
	font-size: 16px !important;
	speak: none;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

@media screen and (max-width: 782px) {
	#wp-admin-bar-backwpup .ab-icon {
		position: relative;
		float: left;
		width: 16px;
		height: 16px;
		font-size: 16px !important;
		top: 4px;
	}
}

#backwpup-page-icon:before {
	font-family: 'backwpup' !important;
	content: "\e600";
}

#backwpup-page .backwpup-floated-postbox {
	padding: 0;
}
#backwpup-page .backwpup-floated-postbox > .inside,
#backwpup-page .wizardbox > form {
	margin: 15px;
}