div#gallery-meta-box-show-code input.gallery-code {
  background-color: #ddd;
  color: #111;
  border: none;
  width: 100%;
  text-align: center;
}

div#gallery-meta-box-excerpt h3 {
  cursor: default;
}

div#gallery-meta-box-excerpt div.inside h3 {
  margin-bottom: 0;
}
div#gallery-meta-box-excerpt div.togglebox {
  border: 1px solid #dfdfdf;
  margin-bottom: 10px;
  padding: 10px;
}

.pro-notice {
  color: red;
  font-style: italic;
}