pre.highlight 
{
    background: #F8F8F8;
    border-color: black;
    border-style: solid;
    border-width: 1px;

    padding: 10px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bolder;

    float: left;
}
