#icon-avp-error {
    background: transparent url(../images/error-32.png) no-repeat;
}
#icon-avp-success {
    background: transparent url(../images/success-32.png) no-repeat;
}
#icon-avp-warning {
    background: transparent url(../images/warning-32.png) no-repeat;
}

#icon-avp-keyboard {
    background: transparent url(../images/keyboard-32.png) no-repeat;
}