/* for ie6 and 7 */

-------------------------------------------------------------- */
 html,  body,  div,  span,  applet,  object,  iframe,  h1,  h2,  h3,  h4,  h5,  h6,  p,  blockquote,  pre,  a,  abbr,  acronym,  address,  big,  cite,  code,  del,  dfn,  em,  img,  ins,  kbd,  q,  s,  samp,  small,  strike,  strong,  sub,  sup,  tt,  var,  b,  u,  i,  center,  dl,  dt,  dd,  ol,  ul,  li,  fieldset,  form,  label,  legend,  table,  caption,  tbody,  tfoot,  thead,  tr,  th,  td,  article,  aside,  canvas,  details,  embed,  figure,  figcaption,  footer,  header,  hgroup,  menu,  nav,  output,  ruby,  section,  summary,  time,  mark,  audio,  video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
} 

input, textarea {background-color:#fff;border: 1px solid #ccc;}
input:focus, textarea:focus{border-color: #52a8ec;outline: 0; outline: thin dotted \9;} 
.menu-toggle,
input[type=submit],
input[type=button],
input[type=reset],
article.post-password-required input[type=submit],
li.bypostauthor cite span {
	padding: 2px 2px;
	font-size: 11px;
	font-weight: normal;
	color: #ffffff;
	background-color: #333333;
	background-image: -moz-linear-gradient(top, #333333, #4a4a4a);
	background-image: -ms-linear-gradient(top, #333333, #4a4a4a);
	background-image: -webkit-linear-gradient(top, #333333, #4a4a4a);
	background-image: -o-linear-gradient(top, #333333, #4a4a4a);
	background-image: linear-gradient(top, #333333, #4a4a4a);
	border: 0px solid #d2d2d2;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
}


 * { margin:0; padding:0; border: 0; position: static;}
 body{width: 100%; max-width: 1280px; min-width: 980px; margin: 0 auto;}

 .wrap-page{width: 100%; max-width: 1280px; min-width: 980px;margin: 0 auto;}

 .main-site{overflow: visible; width: 100%;}

 .site-header{width: 100%; margin: 0 auto; background: url('../images/border_header.gif') repeat-x left bottom; background-color: #1b1b1b;}

 .footer-wrapper{width: 100%; padding-top: 20px; padding-bottom: 10px; text-align: center;}

/* header area */

/*main navigation */
 .main-navigation{
 	padding: 0; margin: 0; 
 	padding-top: 7%;
	width: 32%;
	min-width: 400px;
	padding-left: 6%;
}

 .main-navigation ul.navigation{display: inline-block;}

 .main-navigation li{float:left;position: relative; background-color: #181818;}

.main-navigation li a{ color: #ceeffc; background-color: #181818;}
.main-navigation li a:hover{background-color: #2f2f2f}
.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a,
.main-navigation .current_page_item > a,
.main-navigation .current_page_ancestor > a {
	color: #00FFFF;
	background-color: #2f2f2f;
}


 .logo{float: right; width: 23%;}
 .logo img{width: 100%;}


/*search */
#search-box{
	float: right;
	padding: 5px 10px 0 0;
	width: 17%;
	min-width: 200px;
}
#search_field{   /* 70+26+ 2*2 */
	width:75%;
    border-radius: 20px;
    text-align: center;
    vertical-align: top;
}
#search-submit{
	width: 25px;
    padding: 0px;
    border-radius: 10px 10px 10px 10px;
}







/* body area 980px*/
 .left-side,  .widget-area-left,  .middle,  .site-content, .right-side{padding: 0;margin: 0;border: 0;}

 .left-side,  .widget-area-left{
	float: left;
	width: 17%;
	margin-top: 20px;
}

 .middle,  .site-content{
	float: left;
	width: 58%;
	padding: 0 2%;
	margin-top: 10px;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

 .right-side{
	float: right;
	width: 17%;
	padding-left: 1%;
	margin-top: 20px;
}

/* breadcrumb */
.breadcrumb a, .breadcrumb p{display: inline;}

.breadcrumb > li {
  display: inline-block;
  *display: inline;
  text-shadow: 0 1px 0 #ffffff;
  *zoom: 1;
}

/* middle side 580px */ 

 #gallery,  .header-title,  .header-title{padding: 0; margin: 0; border: 0;}


 

 #gallery{
	width: 85%;
	margin: 0 auto;
}


 .header-title{
    border-bottom:2px solid #199bd8;
	font-size:105%;
	font-weight:bold;
	padding:15px 0 10px 10px;
}

 .header-title img{
    height:50px;
    float:left;
    width:50px;
}



/* left side 180px */

/* menu in lefside */

 .widget{padding:0;}
 .widget_nav_menu ul{list-style-type:none; margin:0; padding:0; display: block; float:none;}
 .widget_nav_menu a{display:block; text-decoration: none; font-size: 100%; font: bold 13px Arial, sans-serif; margin: 0; padding: 0;}

 .current-menu-item  a,  .current-page-parent  a,  .current-page-ancestor  a{color: #21759b;}


 ul.menu{width: 100%; padding: 0 15px;}
 ul.menu li{
 	width: 90%;
 	padding: 10px 0;
	display: block;
	cursor: pointer;
	float: none;
}
 ul.menu >li >a{
 	width:60%; 
 	min-width: 60px;
	display:block;
	color: #252525;
	border-bottom: 1px dotted #ccc;
}


 ul.menu >li >a:hover{color: #21759b; }

 ul.menu >li.current-menu-item >a{
	display: block;
	color: #21759b;
}



/*submenu */


ul.menu li ul{
	background-color: #fff;
	position:relative; 
	width: 100%;
	padding-left: 10px;
	margin-left: 25px;
	min-width: 100px;
	border-left: 1px solid #ccc;
	display: none;
	z-index: 1000;
} 

.menu li ul li{padding:0;}
.menu li ul li a{
	width: 90%;
	display: block;
	padding: 5px 0px;
	color: #444;
	border-bottom: 1px dotted #ccc;
}

.menu li ul li a:hover{color: #21759b;}


.arrow1
{
  background: url(../images/arrow.png) no-repeat;
  background-position: 95% 10px;
}

.arrow2 
{
  background-image: url(../images/arrow-down.png);
  background-position: 95% 10px;
}


/* End of side menu */

/* widget in right side */
.widget_marquee, .widget_loginwithajaxwidget,
.JournalNavigationWidget{width: 95%;}
.JournalNavigationWidget a{display: inline-block; position: relative; padding-top: 5px; cursor: pointer;}
.widget_marquee ,.widget_loginwithajaxwidget,
.JournalNavigationWidget p{font-weight: normal;font-size: small;}
.widget_marquee ul{padding-left: 15px;}
.widget_marquee li{padding-bottom: 10px;}



/* end widget in right side */

/* footer menu */


.bottomMenu { 
	list-style-type: none;
	display: inline;
	text-align: center;
}
ul.bottomMenu { display: inline; padding: 0; margin: 0; list-style-type: none; overflow: hidden;}
ul.bottomMenu>li { 
	display: block;
	float: left; 
	width: auto; 
	margin: 0;
	min-width: 40px;
	padding: 0 10px;
	text-align: left;
}


ul.bottomMenu > li>ul { width: auto; list-style-type: none; padding: 0} /* submenu */


/* book page */
.display-book-ie{
	display: inline;
	float: left; width: 45%;
	min-height:180px; 
	max-height: 220px;
	padding-left: 10px; 
	padding-bottom: 10px; 
	font-size: 85%;
}
.book-thumbnail{float:left; width:30%; padding-right: 5px;}
.book-details{float:left; width:60%;}

#content{float: left;width:93%; padding: 40px 10px;margin: 0;}
.book-image-widget{width: 40%;}

/* end book page */

/* journal page */
.journal-page{}
#content #journal-slide{padding-right: 10px; width: 20%;}
#journal-text{width:75%;font-size: 12px;color: #333333;}

.archive-meta{padding-top: 0;}

/* end journal page */



/* contact us page */
#wpgmza_map{width: 90%;}

/* Isfae Ry*/

.ie #isfae-logo{
	position: absolute;
	top:5px;
	right: 50px;
	width: 120px;
	height: 100px;
	background-image: url(../images/isfaeie.png);
}



/*=============================================== IE8 CSS ==========================*/
html.ie8 {min-height: 0; height: 100% !important;}
.ie8 body{min-height: 0; height: 100% !important;}
.ie8 .site{min-height: 85%; height: auto !important;}

.ie8 .right-side{width: 18%;}

/* footer menu */


.ie8 .bottomMenu { 
	list-style-type: none;
	display: block;
	text-align: center;
}
.ie8 ul.bottomMenu { 
	display: inline-block; 
	padding: 0; 
	list-style-type: none;
	width: auto;
	text-align: center;
	overflow: hidden;
}
.ie8 ul.bottomMenu>li { 
	display: block;
	width: auto; 
	margin: 0;
	min-width: 40px;
	padding: 0 10px;
}

.ie8 ul.bottomMenu > li>ul { 
	display:block;
	margin: 0 auto;
	width: auto; 
	list-style-type: none; 
	padding: 0
	} /* submenu */

/* End of Footer */


/* left side menu */

.ie8 ul.menu{
	position: relative; 
	width: 100%; 
	min-width: 100px;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.ie8 ul.menu >li{
	margin: 0;
	list-style: none;
	width: 99%;
	padding:5px 0px;
	display: inline-block;
}

.ie8 ul.menu >li >a{width: 70%;}

.ie8 ul.menu >li>ul{width: auto;}

/* End left side menu */

/* right widget */

.ie8 .right-link-widget{margin-right: 10px;}
.ie8 .right-link-widget ul>li{
	border: none;
	border-bottom: 1px dotted #ccc;
	margin: 5px 0;
}

/*========================== IE7 CSS ================================*/

/* Rent page */
.ie7 .list-renting {table-layout:fixed; width: 100%;}

/*book page*/